/*
  Grundläggande reset css från http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126 | license: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

html {
  font-family: 'Ropa Sans', sans-serif; /* Närmsta jag kunde hitta som ersättare för DIN */
	font-size: 10px; /* Basstorlek på typsnitt underlättar för skalande i responsivt läge */
  line-height: normal;
  margin: 0 auto;
  vertical-align: baseline;
}

body {
  background: rgba(245, 243, 240, 1); /* rgba som färgskala för webbsäkrare färger */
	line-height: 1;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

.headerbg { /* piffig header */
  background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  box-shadow: 0px 5px 5px -1px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 5px 5px -1px rgba(117, 117, 117, 1);
    -webkit-box-shadow: 0px 5px 5px -1px rgba(117, 117, 117, 1);
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  color: rgba(66, 133, 244, 1);
  font-size: 4.5em;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/*
  Omslutande containers för att positionera korten
*/
#container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(52, 53, 53, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
  position: relative;
  padding: 3rem;
  max-width: 60%;
}

#container:before {  /* vikt hörn */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 25px solid rgba(245, 243, 240, 1);
  border-right: 25px solid transparent;
  width: 0;
}

#planningdeck {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/*
  Kortens utseende
*/
.card {  /* samtliga kort */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
    -ms-flex-pack: distribute;
  justify-content: space-around;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
  flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  max-width: 75%;
  padding: 0;
}

.card.single {  /* snyggare placering av ett individuellt kort */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 16.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carddown { /* baksida av kortet */
  background: url(../images/chas_a_logo_dark.png) no-repeat rgba(2, 103, 157, 1);
  background-position: center;
  background-size: 3rem;
  border: 1px solid rgba(33, 33, 33, 1);
  border-radius: .25em;
  color: transparent;
  height: 100%;
  width: 100%;
}

.cardface {  /* ansikte på kortet */
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(33, 33, 33, 1);
  border-radius: .25em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 10em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .2em;
  padding: 0;
  position: relative;
  width: 7.5em;
}

.cardup {   /* ansikte på kortet */
  color: rgba(33, 33, 33, 1);
  font-size: 2.2em;
  position: relative;
}

/*
  Knappars utseende
*/
#buttons {
  display: inline-block; /* Alltid synligt block för att underlätta togglande av klass på separata knappar */
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

.resetbtn {
  background-color: rgba(137, 200, 224, 1);
  border: .1em solid rgba(33, 33, 33, 1);;
  border-radius: .25em;
  color: rgba(33, 33, 33, 1);
  display: none; /* Dold från start, togglas synlig i .js */
  font-size: 1.5em;
  font-weight: 600;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: 10%;
}

.show {
  display: inline-block; /* Togglad klass */
}

/* ------------------------------------------------------------ */
/* små skärmar */
/* ------------------------------------------------------------ */
@media only screen and (max-device-width: 768px) {

  h1 {
    font-size: 8em;
  }

  #container:before {
    border-top: 75px solid rgba(245, 243, 240, 1);
    border-right: 75px solid transparent;
  }

  /*
    Kortens utseende
  */
  .card {
    max-width: 85%;
  }

  .carddown { /* baksida av kortet */
    background-size: 11rem;
  }

  .cardface {  /* ansikte på kortet */
    border-radius: .5em;
    height: 25em;
    width: 18em;
  }

  .cardup {   /* ansikte på kortet */
    font-size: 6.2em;
  }

  /*
    Knappars utseende
  */
  #buttons {
    margin: 3rem auto;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .resetbtn {
    font-size: 6.5em;
    font-weight: 600;
    padding: 2rem 2rem;
    width: 85%;
  }
}

/* ------------------------------------------------------------ */
/* medelstora skärmar */
/* ------------------------------------------------------------ */
@media only screen and (max-device-width: 1024px) {

    h1 {
      font-size: 4em;
    }

    #container:before {
      border-top: 50px solid rgba(245, 243, 240, 1);
      border-right: 55px solid transparent;
    }

    /*
      Kortens utseende
    */
    .card {
      max-width: 79%;
    }

    .carddown { /* baksida av kortet */
      background-size: 6rem;
    }

    .cardface {  /* ansikte på kortet */
      border-radius: .5em;
      height: 13em;
      width: 10.5em;
    }

    .cardup {   /* ansikte på kortet */
      font-size: 4.5em;
    }

    /*
      Knappars utseende
    */
    #buttons {
      margin: 3rem auto;
      max-width: 100%;
      width: 100%;
      text-align: center;
    }

    .resetbtn {
      font-size: 3.5em;
      font-weight: 600;
      padding: 2rem 2rem;
      width: 25%;
    }
}


/* ------------------------------------------------------------ */
/* IE fix så att man inte behöver skämmas */
/* ------------------------------------------------------------ */
@media screen and (min-width:0\0) { /* IE 9+  */

    #container {
      display: inline-block;
      margin-top: 2rem;
      margin-left: 17%;
      margin-right: 17%;
      text-align: center;
      min-width: 50%;
      max-width: 75%;
    }

    ul {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }

    li {
      display: inline-block;
      position: relative;
      text-align: center;
    }

    div.cardup {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

}
